{% extends "header.html" %}

{% block content %}
<h1>About</h1>
<p>Twitter is a lot of things: a microblogging platform disproportionately used by members of the media, a publisher for official presidential statements, a vehicle for disinformation and burgeoning conspiracy theories and a fun way to interact with friends and meet like-minded people!</p>
<div>Hands have been wrung, ink has been spilled about the responsibility Twitter and other social media platforms may have to act like the publishers they obviously are and to commit to curtailing the the spread of "fake news", so I will refrain from commenting on this here. At the risk of making an obvious point, Twitter provides a massive trove of real-time sociological data, and given that it is an epicenter of politics—both global and national—I think building tools with the goal of supporting "democracy", "truth" and "freedom" is important.</div>
<div> </div>
<div>"Democracy", "truth", "freedom" and "fake news" are up for interpretation, so I owe it to anyone who uses my tools to know my lens, because consciously or not, it will affect my work. I'm not a wonk. I'm not a fivethirtyeight liberal. I'm not a member of the professional managerial class (PMC). I graduated from college in 2008, into the Great Recession. I worked in social work and public health for the first several years after college, and eventually began transitioning into math/data/software. As I've developed these skills, I haven't mobilize in class. I don't believe that Big Data will save the world; I think its harms might outweigh its benefits. I think the only hope we have for a democratic, free and just society is to guarantee healthcare as a human right, to dismantle the for-profit prison system, to redress the legacies of slavery, Jim Crow and redlining and to implement something like a Green New Deal.</div>
<div> </div>
<div>My name is Charysse. I'm trained in applied mathematics and social science and—as you might have guessed—I will mostly use this platform to share analytics projects and to bloviate about current events and politics.</div>
<div> </div>
<div>Thanks for your interest.</div>

{% endblock %}
