<footer>
  <div class="container">
    <div class="row">
      <div class="col l6 s03">
        <h6 class="grey-text text-lighten-1">Charysse Redwood</h6>
        <p class="grey-text text-lighten-1">© 2020 Copyright</p>
      </div>
      <div class="col l4 offset-l1 s12">
        <ul>
          <h6><a class="grey-text text-lighten-1" href="{{ url_for('main.contact') }}">Contact</a></h6>
          <h6><a class="grey-text text-lighten-1" href="#!">Twitter</a></h6>
        </ul>
      </div>
    </div>
  </div>
</footer>
