
{% extends "header.html" %}

{% block content %}
  <body>


      <div class="row">


          {% for post in posts %}
            {% if loop.index0==0 %}
              <div class="col s9">

                <h4>{{post.blog_title}}</h4>
                <p style="font-size:90%">By {{post.blog_author}}</p>
                <p style="font-size:90%">Published {{post.blog_published|formatdatetime}}</p>
                {{post.blog_content|safe}}

              </div>
            {% elif loop.index0==1 %}
              <div class="col s3">
                <ul>
                  <li><h4>Recent Posts</h4></li>
                  <li><a href="/{{post.blog_slug}}", style="color:#000">
                        <div class="card hoverable">
                            <div class="card-content">
                                <div class="card-title">{{post.blog_title}}</div>
                                <p style="font-size:70%">By {{post.blog_author}}</p>
                                <p style="font-size:70%">Published {{post.blog_published|formatdatetime}}</p>
                            </div>
                        </div>
                    </a></li>
            {% else %}
                  <li><a href="/{{post.blog_slug}}", style="color:#000">
                        <div class="card hoverable">
                            <div class="card-content">
                                <div class="card-title">{{post.blog_title}}</div>
                                <p style="font-size:70%">By {{post.blog_author}}</p>
                                <p style="font-size:70%">Published {{post.blog_published|formatdatetime}}</p>
                            </div>
                        </div>
                    </a></li>

          {% endif %}
        {% endfor %}
            </ul>
        </div>
      </div>

</body>
{% endblock %}
