<!-- Dropdown Structure 1-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/dashboard1">Sentiment</a></li>
  <li><a href="/dashboard2">Search Term Frequency</a></li>
  <li><a href="/dashboard3">Search Term Top Locations</a></li>
  <!--<li class="divider"></li>-->
  <!--<li><a href="{{ url_for('main.blogs')}}">Blogs</a></li>-->

</ul>
<!-- Dropdown Structure 2-->
<ul id="dropdown2" class="dropdown-content">
  <li><a href="/account">Account</a></li>
  <li><a href="/logout">Logout</a></li>
  <li class="divider"></li>
  <li><a href="#!">Shop Data Tools</a></li>

</ul>
<nav class="grey darken-2">
  <div class="nav-wrapper">
    <a href="{{ url_for('main.index') }}" class="brand-logo">Bitplayers</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><form method="post" action="{{ url_for('main.search') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="input-field">
          <input id="search" type="search" name="query" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form></li>
      <li><a href="{{ url_for('main.about') }}">About</a></li>
      {% if current_user.is_authenticated %}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Live Twitter Analytics<i class="material-icons right">insert_chart</i></a></li>
        <li><a class="dropdown-trigger" href="" data-target="dropdown2">{{current_user.username}}<i class="material-icons right">settings_applications</i></a></li>
      {% else %}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Live Twitter Analytics<i class="material-icons right">insert_chart</i></a></li>
        <li><a href="{{ url_for('main.register') }}">Register</a></li>
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/about">About</a></li>
      {% if current_user.is_authenticated %}
        <li><a href="/dashboard1">Live Twitter Sentiment</a></li>
        <li><a href="/dashboard2">Live Twitter Term Frequency Search</a></li>
        <li><a href="/dashboard3">Search Term Top Locations</a></li>
        <li><a href="/account">{{current_user.username}}</a></li>
        <li><a href="/logout">Logout</a></li>

      {% else %}
        <li><a href="/dashboard1">Live Twitter Sentiment</a></li>
        <li><a href="/dashboard2">Live Twitter Term Frequency Search</a></li>
        <li><a href="/dashboard3">Search Term Top Locations</a></li>
        <li><a href="{{ url_for('main.register') }}">Register</a></li>
        <li><a href="{{ url_for('main.login') }}">Login</a></li>
      {% endif %}
</ul>
