{% extends "header.html" %}

  {% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <br>
    
  <div class="formwrapper">
    <h2 class="title">Reset Password</h2>
    <form method="POST">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.confirm.label }} {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </form>
  <p> Already a user? <a href="{{ url_for('main.login') }}">Click to log in!</a></p>
  </div>
  {% endblock %}
