{% extends "header.html" %}

  {% block content %}

    <div class="formwrapper">
      <h2 class="title">Reset Password</h2>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="form-field">{{ form.email.label }} {{ form.email }}
          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {{ form.submit }}
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
        {% for message in get_flashed_messages() %}
           <p>{{ message }}</p>
        {% endfor %}
      </form>
    </div>

  {% endblock %}
